<form role="form" name="selfcareForm" ng-controller="HomePageController">
	<div class="overlay" ng-if="workInProgress">
		<img alt="In Progress" src="../dist/images/giphy.gif"/>
	</div>
    <div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.row -->
	<div class="row">
		<!-- /.col-lg-12 -->
		<div class="col-lg-12">
			<div class="panel panel-primary">
			  
		  	 <div class="panel-body">
				<table id="stubTable" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Stub</th>
							<th>URL</th>
							<th>SOAP Action</th>
						</tr>						
					</thead>
					<tbody>
						<tr ng-repeat="stub in stubs track by $index">
							<td>{{stub.stubName}}</td>
							<td>{{stub.stubUrl}}</td>
							<td>{{stub.soapAction}}</td>
						</tr>					
					</tbody>
				</table>
			 </div>
			</div>
									
		</div>
		
	</div>
	<!-- /.row -->
</form>	

<script>
    $(document).ready(function () {
        $('#stubTable').DataTable({
            responsive: true
        });
    });
</script>