<!DOCTYPE html>
<html lang="en" ng-app="org.zcode.glofa">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Global Stub</title>
		<link rel="shortcut icon" href="../favicon.ico" />
        <!-- Bootstrap Core CSS -->
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="../bower_components/prettyjson/ng-prettyjson.min.css">
 		
		<link href="../dist/css/fonts-breuer.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="../dist/css/custom-gui.css" rel="stylesheet">

    </head>

    <body>

        <div id="wrapper" ng-controller="HomePageController">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="home_page.html">Global Stub</a>
                </div>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li> <!-- ng-if="isAdmin" -->
                                <a class="menuGroupTitle" href="#">Home</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="menuGroupItem" href="#dashboard">Dashboard</a>
                                    </li>
                                    <li>
                                        <a class="menuGroupItem" href="#stub_logs">Stub Logs</a>
                                    </li>
                                </ul>                                
                            </li>						
                            <li> <!-- ng-if="isAdmin" -->
                                <a class="menuGroupTitle" href="#">Admin</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="menuGroupItem" href="#admin/new_rest_stub">New Rest Stub</a>
                                    </li>
                                    <li>
                                        <a class="menuGroupItem" href="#admin/new_soap_stub">New SOAP Stub</a>
                                    </li>
                                </ul>                                
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
			
			<div id="page-wrapper" ng-view></div>
            <!-- /#page-wrapper -->
			

        </div>
        <!-- /#wrapper -->
		
        <!-- jQuery -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script> 

        <!-- Bootstrap Core JavaScript -->
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

        <!-- DataTables JavaScript -->
        <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

        <!-- Angualr JS JavaScript -->
        <script src="../bower_components/angular/angular.min.js"></script>
		<!-- Angular Route -->
		<script src="../bower_components/angular-route/angular-route.min.js"></script> 
		<script src="../bower_components/pretty-print-js/run_prettify.js"></script> 
		<script src="../bower_components/pretty-print-js/prettify.js"></script> 
		<script src="../bower_components/pretty-print-js/vkbeautify.js"></script> 

		<script src="../bower_components/prettyjson/ng-prettyjson.min.js"></script>
		
        <!-- Custom Theme JavaScript -->
        <script src="../dist/js/custom-gui-jq.js"></script>
        <!-- Custom Angular controller scripts -->
        <script src="../dist/js/home-page-controller.js"></script>
        <script src="../dist/js/admin-controller.js"></script>
    </body>

</html>
