<form role="form" name="selfcareForm" ng-controller="HomePageController">
	<div class="overlay" ng-if="workInProgress">
		<img alt="In Progress" src="../dist/images/giphy.gif"/>
	</div>
    <div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">Stub Logs</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.row -->
	<div class="row">
		<!-- /.col-lg-12 -->
		<div class="col-lg-12">
			<div class="panel">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8">
							<div class="form-group">
								<select class="form-control" ng-model="selectedStub" ng-options="stub.stubName for stub in stubs track by stub.stubName" required>
								</select>	
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<button class="btn btn-primary" ng-click="searchLogs()">Search</button>
							</div>
						</div>
					</div>
					
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>	
			<div class="panel panel-primary">
			  
		  	 <div class="panel-body">
				<table id="stubTable" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Stub Name</th>
							<th>Creation Date</th>
							<th>Request Content</th>
						</tr>						
					</thead>
					<tbody>
						<tr ng-repeat="stubLog in searchResults track by $index">
							<td>{{stubLog.stubName}}</td>
							<td>{{stubLog.creationDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
							<td><pre ng-if="stubLog.type != 'REST'">{{stubLog.request}}</pre>
								<pre class='json' json='stubLog.request' pretty-json />
							</td>
						</tr>					
					</tbody>
				</table>
			 </div>
			</div>
									
		</div>
		
	</div>
	<!-- /.row -->
</form>	

<script>
    $(document).ready(function () {
        $('#stubTable').DataTable({
            "responsive": true,
            "columns": [
                { "width": "10%" },
                { "width": "10%" },
                null
              ]
        });
    });
</script>