<form role="form" name="selfcareForm" ng-controller="AdminController">
	<div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">SOAP Stub</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.navbar-header -->

	<div class="modal fade" id="inputParamModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Correlation Param</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="CorrelationParam (eg: AllocatePhoneNumberRequest.PhoneNumberAllocation.RequestorIdentifier.System)" ng-model="correlationParam">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveCorrelationParam()" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<input type="hidden" class="form-control" ng-init="stub.protocol = 'SOAP'" ng-model="stub.protocol"/>
							<input type="text" class="form-control" placeholder="Stub Name" ng-model="stub.stubName"/>
							<br/>
							<input type="text" class="form-control" placeholder="SOAP Action" ng-model="stub.soapAction"/>
							<br/>
							<select class="form-control" ng-model="stub.stubMode">
								<option value="SYNC" >Synchronous</option>
								<option value="ASYNC">Asynchronous</option>
							</select>
							<br/>
							<textarea class="form-control" placeholder="Synchronous Response" rows="10" ng-model="stub.syncResponse"></textarea>
							<div ng-if="stub.stubMode == 'ASYNC'">
								<textarea class="form-control" placeholder="Asynchronous Response" rows="10" ng-model="stub.asyncResponse"></textarea>
								<input type="text" class="form-control" placeholder="Callback URL" ng-model="stub.callbackUrl"/>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-4">
									<input type="text" class="form-control" ng-init="stubUrlPrefix = '/soap'" ng-model="stubUrlPrefix" disabled="disabled">
								</div>
								<div class="col-lg-8">
									<input type="text" class="form-control" placeholder="Stub URL" ng-model="stub.stubUrl">
								</div>							
							</div>
							<br/>
							<div class="col-lg-4 form-group">
								<input type="checkbox" ng-model="stub.logEnabled"/>
                               	<label>Enable Logging</label>
                            </div>
							<div class="col-lg-2 form-group">
                               	<label>Request Validation XSD</label>
                            </div>
							<div class="col-lg-6 form-group">
                                <input type="file" ng-model="stub.validationXsdFileName">
                            </div>
                            <div class="col-lg-12" ng-if="stub.stubMode == 'ASYNC'">
								<div class="panel panel-default">
									<div class="panel-heading">
										Correlation Params
									</div>
									<div class="panel-body scroll-input-panel">
										<ul class="list-group">
												<li class="list-group-item" ng-repeat="param in stub.correlationParams track by $index">
													{{param}}<a class="input-param-remove" > <span class="glyphicon glyphicon-remove" ng-click="removeParam($index)" aria-hidden="true" ></span></a>
												</li>
										</ul>
										<button type="button" class="btn btn-default" data-toggle="modal" data-target="#inputParamModal">
											  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
										</button>
									</div>
								</div>
							</div>
							
						</div>
						</div>
					</div>
					<br/>
					<div class="row">                    
						<div class="col-lg-2" >
							<div class="form-group">
								<button class="btn btn-outline btn-primary" ng-click="saveStub()">Save</button>
							</div>
						</div>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</form>